@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #404040 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

.h-ticket-list {
  height: calc(100vh - 243px);
}

.h-ticket-tags {
  height: calc(100vh - 116px);
}

.h-ticket-tags .h-ticket-list {
  height: calc(100vh - 162px);
}

.scrollbar-stable {
  scrollbar-gutter: stable;
}
