@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  &::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4a5568;
  }

  &::-webkit-scrollbar-track {
    background: #4a5568;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2d3748;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #262e3a;
  }
}

.h-ticket-list {
  height: calc(100vh - 226px);
}

.h-ticket-tags {
  height: calc(100vh - 110px);
}

.h-ticket-tags .h-ticket-list {
  height: calc(100vh - 156px);
}

.scrollbar-stable {
  scrollbar-gutter: stable;
}
